<a href="https://colab.research.google.com/github/shivamsouravjha/Covid-Affects/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

import os

In [2]:
b = '/content/owid-covid-data.xlsx'

In [3]:
df = pd.read_excel(b)

In [4]:
df.head(10000)

     iso_code continent  ... life_expectancy human_development_index
0         AFG      Asia  ...           64.83                   0.498
1         AFG      Asia  ...           64.83                   0.498
2         AFG      Asia  ...           64.83                   0.498
3         AFG      Asia  ...           64.83                   0.498
4         AFG      Asia  ...           64.83                   0.498
...       ...       ...  ...             ...                     ...
9995      CHN      Asia  ...           76.91                   0.752
9996      CHN      Asia  ...           76.91                   0.752
9997      CHN      Asia  ...           76.91                   0.752
9998      CHN      Asia  ...           76.91                   0.752
9999      CHN      Asia  ...           76.91                   0.752

[10000 rows x 50 columns]

In [5]:
for dataset in df:
  df.replace({'Asia': 0, 'Europe': 1, 'North America': 2,'Africa' :3,'South America':4,'Oceania':5},inplace=True)

In [6]:
df.head(1200)

     iso_code  continent  ... life_expectancy human_development_index
0         AFG        0.0  ...           64.83                   0.498
1         AFG        0.0  ...           64.83                   0.498
2         AFG        0.0  ...           64.83                   0.498
3         AFG        0.0  ...           64.83                   0.498
4         AFG        0.0  ...           64.83                   0.498
...       ...        ...  ...             ...                     ...
1195      AND        1.0  ...           83.73                   0.858
1196      AND        1.0  ...           83.73                   0.858
1197      AND        1.0  ...           83.73                   0.858
1198      AND        1.0  ...           83.73                   0.858
1199      AND        1.0  ...           83.73                   0.858

[1200 rows x 50 columns]

In [7]:
df['handwashing_facilities'].fillna(inplace = True,value  = df['handwashing_facilities'].mean())
df['hospital_beds_per_thousand'].fillna(inplace = True,value  = df['hospital_beds_per_thousand'].mean())
df['diabetes_prevalence'].fillna(inplace = True,value  = df['diabetes_prevalence'].mean())
df['handwashing_facilities'].fillna(inplace = True,value  = df['handwashing_facilities'].mean())
df['stringency_index'].fillna(inplace = True,value  = df['stringency_index'].mean())

In [8]:
df.drop(['date'], axis = 1,inplace=True) 
df.drop(['life_expectancy'], axis = 1,inplace=True)
df.drop(['human_development_index'], axis = 1,inplace=True) 
df.drop(['male_smokers'], axis = 1,inplace=True)
df.drop(['female_smokers'], axis = 1,inplace=True) 
df.drop(['extreme_poverty'], axis = 1,inplace=True)
df.drop(['new_cases_smoothed'], axis = 1,inplace=True) 
df.drop(['new_deaths'], axis = 1,inplace=True)
df.drop(['new_deaths_smoothed'], axis = 1,inplace=True) 
df.drop(['total_cases_per_million'], axis = 1,inplace=True) 
df.drop(['new_cases_per_million'], axis = 1,inplace=True) 
df.drop(['new_cases_smoothed_per_million'], axis = 1,inplace=True)
df.drop(['total_deaths_per_million'], axis = 1,inplace=True) 
df.drop(['new_deaths_per_million'], axis = 1,inplace=True) 
df.drop(['reproduction_rate'], axis = 1,inplace=True)
df.drop(['new_deaths_smoothed_per_million'], axis = 1,inplace=True)
df.drop(['icu_patients'], axis = 1,inplace=True)
df.drop(['icu_patients_per_million'], axis = 1,inplace=True)
df.drop(['hosp_patients'], axis = 1,inplace=True)
df.drop(['hosp_patients_per_million'], axis = 1,inplace=True)
df.drop(['weekly_icu_admissions'], axis = 1,inplace=True)
df.drop(['weekly_hosp_admissions'], axis = 1,inplace=True)
df.drop(['weekly_icu_admissions_per_million'], axis = 1,inplace=True)
df.drop(['total_tests'], axis = 1,inplace=True)
df.drop(['new_tests'], axis = 1,inplace=True)
df.drop(['total_tests_per_thousand'], axis = 1,inplace=True)
df.drop(['new_tests_per_thousand'], axis = 1,inplace=True)
df.drop(['weekly_hosp_admissions_per_million'], axis = 1,inplace=True)
df.drop(['new_tests_smoothed_per_thousand'], axis = 1,inplace=True)
df.drop(['tests_per_case'], axis = 1,inplace=True)
df.drop(['positive_rate'], axis = 1,inplace=True)
df.drop(['tests_units'], axis = 1,inplace=True)
df.drop(['new_tests_smoothed'], axis = 1,inplace=True)
df.drop(['location'], axis = 1,inplace=True)

In [9]:
df.drop(['iso_code'], axis = 1,inplace=True)

In [10]:
df.dropna(subset=['total_deaths'],inplace=True)
df.dropna(subset=['population'],inplace=True)
df.dropna(subset=['population_density'],inplace=True)
df.dropna(subset=['median_age'],inplace=True)
df.dropna(subset=['aged_65_older'],inplace=True)
df.dropna(subset=['aged_70_older'],inplace=True)
df.dropna(subset=['cardiovasc_death_rate'],inplace=True)
df.dropna(subset=['gdp_per_capita'],inplace=True)
df.dropna(subset=['diabetes_prevalence'],inplace=True)
df.dropna(subset=['hospital_beds_per_thousand'],inplace=True)
df.dropna(subset=['handwashing_facilities'],inplace=True)
df.dropna(subset=['continent'],inplace=True)

In [11]:
df.head(500)

     continent  total_cases  ...  handwashing_facilities  hospital_beds_per_thousand
59         0.0         40.0  ...               37.746000                    0.500000
60         0.0         40.0  ...               37.746000                    0.500000
61         0.0         74.0  ...               37.746000                    0.500000
62         0.0         84.0  ...               37.746000                    0.500000
63         0.0         94.0  ...               37.746000                    0.500000
..         ...          ...  ...                     ...                         ...
620        3.0      14920.0  ...               26.664000                    2.999004
621        3.0      15008.0  ...               26.664000                    2.999004
622        3.0      15087.0  ...               26.664000                    2.999004
623        3.0      15103.0  ...               26.664000                    2.999004
672        1.0         12.0  ...               50.323335                    2.890000

[500 rows x 15 columns]

In [12]:
p=df['total_deaths']
df.drop(['total_deaths'], axis = 1,inplace=True)

In [13]:
y=df[['continent','total_cases','stringency_index','median_age','aged_65_older','aged_70_older','gdp_per_capita','cardiovasc_death_rate','diabetes_prevalence','handwashing_facilities','hospital_beds_per_thousand']]

In [14]:
from xgboost import XGBRegressor

In [15]:
X_train, X_test, y_train, y_test = train_test_split(y,p, test_size=0.20)

In [16]:
regr = XGBRegressor(random_state=0)
regr.fit(X_train,y_train)

[21:00:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [17]:
y_pred = regr.predict(X_test)
print(r2_score(y_test,y_pred)*100,'%')

99.24811189359258 %

In [18]:
y

       continent  ...  hospital_beds_per_thousand
59           0.0  ...                         0.5
60           0.0  ...                         0.5
61           0.0  ...                         0.5
62           0.0  ...                         0.5
63           0.0  ...                         0.5
...          ...  ...                         ...
59090        3.0  ...                         1.7
59091        3.0  ...                         1.7
59092        3.0  ...                         1.7
59093        3.0  ...                         1.7
59094        3.0  ...                         1.7

[39651 rows x 11 columns]